body {
    background-image: url("../80-807675_jungle-image-jungle-leaves-border-png.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f7f7f7;
}

div .name {
    margin-top: 15%;
    margin-left: 25%;
    color: black;

}


div .levels {
    margin-left: 10%;
    margin-right: 40%;
    padding: 15px;
    padding-bottom: 50px;
    border: solid 3px goldenrod;
    border-radius: 30px;
    text-align: center;
    background-color: white;

}

.levels-name {
    text-align: center;
}

table {
    align-items: center;
}

td, tr {
    width: 200px;
    height: 35px;
    border: 0px;

}

td {
    text-align: center;
}

td:hover {
    background-image: url("https://img1.picmix.com/output/stamp/normal/2/8/5/2/1742582_4e782.gif");
}


.link {
    text-decoration: none;
    color: black;
    word-spacing: normal;
    font-size: 20px;

}

.pic {
    width: 90px;
}

.link:hover {

}

.gif {
    width: 100px;
}

