* {
    margin: 0;
}

body {
    background-image: url("../80-807675_jungle-image-jungle-leaves-border-png.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f7f7f7;
}


.area {
    border: 3px solid goldenrod;
    padding: 2%;
    background-color: white;
    border-radius: 15px;

}

.container {
    margin-right: 40%;
    margin-left: 10%;
    margin-top: 15%;
    text-align: center;
}

.textArea {
    color: goldenrod;
}


.puzzleText {
    font-size: 20px;
}

.finishButton, .checkButton {
    background: #6E0069;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.startGameButton {
    background: darkgoldenrod;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front1 {
    display: block;
    padding: 8px 8px;
    border-radius: 12px;
    font-size: 1rem;
    background: darkmagenta;
    color: #f7f7f7;
    transform: translateY(-6px);
    text-decoration: none;
}


.front {
    display: block;
    padding: 8px 8px;
    border-radius: 12px;
    font-size: 1rem;
    background: goldenrod;
    color: #f7f7f7;
    transform: translateY(-6px);
    text-decoration: none;
}

.finishButton:active .front {
    transform: translateY(-2px);
}

.checkButton:active .front {
    transform: translateY(-2px);
}

.startGameButton:active .front {
    transform: translateY(-2px);
}

.gif {
    width: 100px;
}